# File binari e di output compilati
# Includiamo il nome specifico del nostro servizio, ma potremmo usare un pattern
/services/state_aggregator/state_aggregator
*.exe
*.out

# Cartelle di build e dipendenze (se usate)
/build/
/vendor/

# File di log
*.log

# File di configurazione dell'ambiente locale
# MAI fare il commit di file .env che contengono segreti!
.env*

# Cartelle di configurazione degli editor e IDE
.vscode/
.idea/

# File di sistema operativo
.DS_Store
Thumbs.db