# Python
__pycache__/
*.py[codz]
*.so
.Python
build/
dist/
eggs/
.eggs/
lib/
lib64/
*.egg-info/
.installed.cfg
*.egg

# Environments
.env
.venv
env/
venv/

# Test & Coverage
htmlcov/
.tox/
.coverage
.cache
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# Credenziali e Log
*.log
secrets.yaml
gha-creds-*.json
sa-key.json

# VS Code
.vscode/

# --- VARCAVIA Office Specific ---
# Ignora il codice Go generato da Protobuf
services/gen/

# ---- generated code ----
services/gen/
schemas/services/gen/
# ---- redis CLI artefacts ----
KEYS
PING

